{% include "header.html" %}
<body id="page1">
<div class="body1">
  <div class="main">
    <!-- header -->
    <header>
      <div class="wrapper">
        <h1><a href="/" id="logo">Hope Center</a></h1>
        <nav>
          <ul id="top_nav">
            <li><a href="/"><img src="static/images/top_icon1.gif" alt=""></a></li>
            <li><a href="#"><img src="static/images/top_icon2.gif" alt=""></a></li>
            <li class="end"><a href="contact.html"><img src="static/images/top_icon3.gif" alt=""></a></li>
          </ul>
        </nav>
        <nav>
          <ul id="menu">
            <li id="menu_active"><a href="/">Home</a></li>
            <li><a href="/ask_help/">Ask Help</a></li>
            <li><a href="/view_avaiablehelp">View Avaiable Help</a></li>
            <li><a href="/volunteer_regi/">Become volunteer</a></li>
            <li><a href="/contact/"> Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="slider">
        <ul class="items">
          <li> <img src="static/images/img1.jpg" alt="">
            <div class="banner">
              <div class="wrapper"><span>“Our<em>Mission</em>is to<em>Help</em></span></div>
              <div class="wrapper"><strong>Those Who<em>Need</em>It”</strong></div>
            </div>
          </li>
          <li> <img src="static/images/img2.jpg" alt="">
            <div class="banner">
              <div class="wrapper"><span>“LETS HELP NEEDED ONE</span></div>
              <div class="wrapper"><strong>AND BEAT COVID-19”</strong></div>
            </div>
          </li>
          <li> <img src="static/images/img3.jpg" alt="">
            <div class="banner">
              <div class="wrapper"><span>“TOGETHER we can CHANGE</span></div>
              <div class="wrapper"><strong>Many  LIVES”</strong></div>
            </div>
          </li>
        </ul>
        <ul class="pagination">
          <li id="banner1"><a href="#">POST<span>REQUIREMENT</span></a></li>
          
          <li id="banner3"><a href="#">Help<span>NEEDED ONE</span></a></li>
          <li id="banner2"><a href="#">join<span>volunteer</span></a></li>
        </ul>
      </div>

    </header>
    <iframe
        src="/covid_requirments/user_post/"
        class="dash-iframe",
        height="300vh"
        width="950vh"
      >
    </iframe>
    <div>

    </div>
    <iframe
      src="/hopecenter/view_help/"
      class="dash-iframe",
      height="300vh"
      width="950vh"
      >
  </iframe>


    <!-- / header -->
    <!-- content -->

    <!-- / content -->
    <!-- footer -->
    <footer>
      <div class="wrapper"> <a href="static/index.html" id="footer_logo"><span>Hope</span>Center</a>
        <ul id="icons">
          <li><a href="#" class="normaltip"><img src="static/images/icon1.gif" alt=""></a></li>
          <li><a href="#" class="normaltip"><img src="static/images/icon2.gif" alt=""></a></li>
          <li><a href="#" class="normaltip"><img src="static/images/icon3.gif" alt=""></a></li>
        </ul>
      </div>
      <div class="wrapper">
  
        <!-- <nav>
          <ul id="footer_menu">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="mission.html">Our Mission</a></li>
            <li><a href="news.html">News &amp; Press</a></li>
            <li><a href="help.html">How to Help</a></li>
            <li class="end"><a href="contact.html">Contact</a></li>
          </ul>
        </nav> -->
        <div class="tel"><span></span>9574510371</div>
      </div>
      <div id="footer_text">Copyright &copy; <a href="https://www.linkedin.com/in/ronesh-gangavani/">Ronesh Gangavani</a> All Rights Reserved<br>
        Design by <a target="_blank" href="http://www.templatemonster.com/"> Himself</a></div>
    </footer>
    <!-- / footer -->
  </div>
  </div>
  <script type="text/javascript">Cufon.now();</script>
  <script type="text/javascript">
  $(window).load(function () {
    $('.slider')._TMS({
        preset: 'zabor',
        easing: 'easeOutQuad',
        duration: 800,
        pagination: true,
        banners: true,
        waitBannerAnimation: false,
        slideshow: 6000,
        bannerShow: function (banner) {
            banner.css({
                right: '-700px'
            }).stop().animate({
                right: '0'
            }, 600, 'easeOutExpo')
        },
        bannerHide: function (banner) {
            banner.stop().animate({
                right: '-700'
            }, 600, 'easeOutExpo')
        }
    })
    $('.pagination li').hover(function () {
        if (!$(this).hasClass('current')) {
            $(this).find('a').stop().animate({
                backgroundPosition: '0 0'
            }, 600, 'easeOutExpo', function () {
                $(this).parent().css({
                    backgroundPosition: '-20px 0'
                })
            });
        }
    }, function () {
        if (!$(this).hasClass('current')) {
            $(this).css({
                backgroundPosition: '0 0'
            }).find('a').stop().animate({
                backgroundPosition: '-250px 0'
            }, 600, 'easeOutExpo');
        }
    })
  })
  </script>
  </body>
  </html>